<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>JMRH</title>
    <link rel="stylesheet" href="../assets/css/infoStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <nav>
      <a class="logo" href="/">JMRH</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="/">Início</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="../#serviços-id">Serviços</a></li>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!--inicio-->
    <section id="info">
      <div class="info-container">
          <div class="descricao">
            <div class="image-info">
              <img src="../assets/images/contato-empresa.jpg" alt="Contato">
            </div>
          </div>
          <div class="text-info">
            <div>
              <h1>O que falam sobre?</h1>
              <p>Bernadette Silva: dasdasdasdasdadsdasasdsadasdasdasdas</p>
            </div>
          </div>
      </div>
    </section>
  </main>
 <footer>
    <div id="rodape" class="guide-geral guide-rodape">
      <div id="rodape-conteudo" class="guide">
          <div id="contato-rodape">
              <span class="desc">Contato</span>
              <div class="list">
                <li>
                  <i class="fa fa-envelope icon"></i>
                  <i>jmrh@jmrh.com.br</i>
                </li>
                <li>
                    <i class="fa fa-phone icon"></i>
                    <i><a href="tel:1145921554">(11) 4592-1554 </a></i>
                </li>
                <li>
                    <i class="fa fa-whatsapp icon"></i>
                    <i><a href="https://api.whatsapp.com/send?phone=5511976745494&amp;text=">(11) 97674-5494
                            (TIM)</a></i>
                </li>
              </div>
            </div>
          <div id="links-rodape">
            <span class="desc">Institucional</span>
            <div class="list">
              <li>
                  <a href="sobre.html">JMRH</a>
              </li>
              <li>
                  <a href="/#serviços-id">Serviços</a>
              </li>
              <li>
                  <a href="contato.html">Contato</a>
              </li>
            </div>
          </div>
      </div>
  </div>
  </footer>
<script src="../assets/js/mobile-navbar.js"></script>
</body>
</html>